name: Build
on: workflow_call
permissions: {}
jobs:
  build:
    strategy:
      matrix:
        artifact:
        - name: datapack
          make-target: build-datapack
          path-prefix: enderman-block
    runs-on: ubuntu-24.04-arm
    name: ${{ matrix.artifact.name }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: ./.github/actions/setup-nix
    - name: Build ${{ matrix.artifact.name }}
      run: nix develop .#build -c make ${{ matrix.artifact.make-target }}
    - name: Upload ${{ matrix.artifact.name }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ${{ matrix.artifact.name }}
        path: ${{ matrix.artifact.path-prefix }}.zip
        include-hidden-files: true
        if-no-files-found: error
  checksums:
    runs-on: ubuntu-24.04-arm
    needs: build
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: ./.github/actions/setup-nix
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        merge-multiple: true
        path: artifacts
    - name: Generate artifact checksums
      working-directory: artifacts
      run: nix develop .#createChecksums -c sha256sum * >> ../checksums.txt
    - name: Upload checksums
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: checksums
        path: checksums.txt
        include-hidden-files: true
        if-no-files-found: error
