name: Release
on:
  release:
    types: [created]
permissions: {}
concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    permissions:
      security-events: write
  release:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
      id-token: write
      attestations: write
    needs: ci
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: ./.github/actions/setup-nix
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        merge-multiple: true
        path: artifacts
    - name: Sign checksums
      working-directory: artifacts
      run: nix develop .#sign -c cosign sign-blob -y checksums.txt --bundle checksums.txt.cosign.bundle
    - uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
      with:
        subject-checksums: artifacts/checksums.txt
    - name: Attach artifacts to release ${{ github.event.release.tag_name }}
      run: nix develop .#releaseArtifacts -c gh release upload "${TAG_NAME}" artifacts/*
      env:
        GH_TOKEN: ${{ github.token }}
        TAG_NAME: ${{ github.event.release.tag_name }}
